.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px 0;
}

@media (max-width: 600px) {
  .main-content {
    padding: 10px 0;
  }
}
.my-grid-container {
  /* This is the mandatory line! */
  display: grid;
  /* Add your template columns/rows */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}